.navigation {
    position: absolute;
    height: 85px;
    width: 100%;
    bottom: 0px;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.navigation__filter {
    width: 62px;
    height: 62px;
    margin: 12px;
    box-shadow: 5px 7px 14px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    grid-column: 1 / 2;
}

.navigation__button {
    width: 62px;
    height: 62px;
    margin: 12px;
    background-color: #1b1d1f;
    box-shadow: 5px 7px 14px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    border: solid 2px #055f54;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    transition-property: background-color;
    transition-duration: 0.2s;

    animation-name: button-appearance;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.navigation__button:hover {
    background-color: #3a6865;
}

.navigation__zoomin {
    position: relative;
    top: -160px;

    grid-column: 3 / 4;
}

.navigation__current {
    grid-column: 3 / 4;
}

.navigation__zoomout {
    position: relative;
    top: -320px;

    grid-column: 3 / 4;
}

.navigation__create {
    margin: 12px 0px;
    width: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #55d4c3;

    grid-column: 2 / 3;
}

.navigation__create svg {
    margin-right: 10px;
}

.navigation__layer {
    position: absolute;
    margin-top: 25px;
    height: 60px;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: #43ad9f;
    z-index: 3;
}

@keyframes button-appearance {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
