.myprofile__page {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.myprofile__title {
    padding: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;

    color: #ffffff !important;
}

.myprofile__welcome {
    color: #bebebe !important;
    padding: 10px 20px;
    font-weight: 200;
    font-size: 27px;
}

.myprofile__nickname {
    margin: 20px 20px;
    padding-left: 0px;
    width: 80vw;
    height: 50px;
    border: 0px;
    border-bottom: 4px solid #dbdbdb;
    border-radius: 0px;
    background-color: rgb(0, 0, 0);

    font-size: 30px;
    color: #dbdbdb;
    outline: none;

    transition-property: border-bottom;
    transition-duration: 0.2s;
}

.myprofile__nickname:hover {
    border-bottom: 4px solid #55d4c3;
}

.myprofile_avatar {
    display: inline-block;
    position: relative;
}
.myprofile_avatar img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
.myprofile_avatar input {
    cursor: pointer;
}
