.nonzone__page {
    position: fixed;
    padding-top: 10px;
    height: 100%;
    width: 100vw;
    background-color: black;
    overflow-y: scroll;
}

.nonzone__wrapper {
    height: 100%;
    overflow-y: scroll;
}

.nonzone__text {
    color: #bebebe !important;
    padding: 10px 20px;
    line-height: 35px;
    font-weight: 400;
    font-size: 17px;
    white-space: pre-wrap;
}

.nonzone__type {
    color: white !important;
    padding: 10px 20px;
    line-height: 35px;
    font-weight: 200;
    font-size: 30px;
}

.nonzone__author {
    padding: 0px 20px;
    line-height: 35px;
    font-weight: 600;
    font-size: 20px;
    color: #bebebe !important;
}
.nonzone__title {
    margin: 20px 20px;
    width: 90%;
    height: 50px;
    border: 0px;
    border-radius: 0px;

    font-size: 30px;
    color: white;
    outline: none;
}

.nonzone__image_holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nonzone__image {
    max-height: 480px;
    max-width: 95%;
    margin: 0px auto 20px auto;
    background-color: black;
    background-size: cover;
    border-radius: 15px;
    box-sizing: border-box;
}

.nonzone__bottom {
    padding-bottom: 5px;
}

.likes-info {
    color: #43ad9f;
    padding: 10px;
}
