.nonzone__page {
    height: 100%;
	width: 100vw;
}

.nonzone__wrapper {
    height: 100%;
	overflow-y: scroll;
}

.nonzone__text {
	padding: 10px 20px;
	line-height: 35px;
    font-weight: 400;
    font-size: 17px;
}

.nonzone__type {
	padding: 10px 20px;
	line-height: 35px;
    font-weight: 200;
    font-size: 30px;
}

.nonzone__author {
	padding: 0px 20px;
	line-height: 35px;
    font-weight: 600;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.397) !important;
}
.nonzone__title {
    margin: 20px 20px;
    width: 90%;
    height: 50px;
    border: 0px;
    border-bottom: 4px solid#6dc0bc;
    border-radius: 0px;
    background-color: white;

    font-size: 30px;
    color: rgb(124, 124, 124);
    outline: none;
}

.nonzone__image {
	height: 240px;
	width: 95%;
	margin: 20px auto;
	background-color: black;
	background-size: cover;
	border-radius: 15px;
	box-sizing: border-box;
}

.nonzone__bottom {
	padding-bottom: 5px;
}