.dialogwindow {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialogwindow__box {
    border: solid 2px #055f54;
    padding: 40px 20px;
    width: 270px;
    height: min-content;

    background: #2c3033;
    box-shadow: 5px 7px 14px rgba(0, 0, 0, 0.13);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialogwindow__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 23px;
    text-align: center;

    color: white !important;
    padding-bottom: 20px;
}

.dialogwindow__header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    padding-bottom: 10px;

    color: white !important;
}

.dialogwindow__text {
	padding-top: 10px;
	font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;

    color: white !important;
}

.dialogwindow__amount {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;

    text-align: center;

    color: #55d4c3 !important;
}

.dialogwindow__button {
    width: 270px;
    height: 60px;
    margin-top: 10px;
    background-color: #43ad9f;
    box-shadow: 5px 7px 14px rgba(0, 0, 0, 0.13),
        inset 5px 5px 11px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 0px;
    outline: none;

    font-size: 15px;
    color: white;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    transition-property: background-color opacity transform;
    transition-duration: 0.3s;
}

.dialogwindow-animation {
    animation-name: dialogwindow-appearance;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes dialogwindow-appearance {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
